---
import Layout from "../layouts/Layout.astro";
import LandingHeader from "@/components/LandingHeader.astro";
import Section from "@/components/Section.astro";
import ChargeSection from "@/components/ChargeSection.astro";
import HeroSection from "@/components/HeroSection.astro";
---

<Layout title="Tesla. El coche del futuro">
  <LandingHeader />
  <main class="relative w-full h-screen overflow-auto snap-y snap-mandatory">
    <div class="snap-center">
     <HeroSection/>
    </div>
    <div class="snap-center">
      <ChargeSection />
    </div>
  </main>
</Layout>